.inter,
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100dvh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: black;
  border-radius: 4px;
  min-height: 100dvh;
  width: 100dvw;
}

.grid-card {
  height: 100%;
  width: 100%;
  background-color: #333;
  border-radius: 4px;

  &.hide {
    visibility: hidden;
  }
}

.card-label,
.data-to-guess {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.data-to-guess {
  transition: 0.3s ease-out;
  opacity: 0;
  transform: translateY(10px);

  &.show {
    opacity: 1;
    transform: none;
  }
}

.time-left-to-play {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}

.down-bard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
}

.down-bard-card {
  height: 100px;
  border-radius: 4px;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  font-size: 2rem;
  color: white;
  text-align: center;
  min-width: 200px;
  width: fit-content;
}

#timer {
  width: 150px;
}
